@import "../../styles/utils.scss";

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #cccccc;
  padding: 10rem 0;

  .main_wrapper {
    max-width: 600px;
    min-height: 530px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    gap: 3rem;
    background-image: url("../../assets/default.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.25rem 2rem;
    transition: 0.4 ease-in;

    @media screen and (max-width: 768px) {
      max-width: 300px;
    }
  }

  .cloudy {
    background-image: url("../../assets/cloudy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4 ease-in;
  }

  .sunny {
    background-image: url("../../assets/sunny.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4 ease-in;
  }

  .rainy {
    background-image: url("../../assets/rainy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.4 ease-in;
  }
}
